@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.custom-shadow {
  box-shadow: 0 24px 115px rgba(169, 169, 169, 0.26);
}

.center {
  left: 50%;
  transform: translate(-50%, 50%);
}
